$colors: (
  primary: (
    300: rgba(186, 166, 166, 0.6),
    500: hsl(338, 100%, 38%),
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    150: hsl(0, 0%, 95%),
    100-t: hsla(0, 0%, 100%, 0.898),
    200: hsl(0, 0%, 85%),
    500: hsl(0, 0%, 50%),
    700: hsl(0, 0%, 30%),
    900: hsl(0, 0%, 1%),
  ),
  tags: (
    100: hsl(338, 100%, 90%),
    200: hsl(96, 58%, 79%),
    300: hsl(207, 86%, 81%),
    500: hsl(160, 51%, 75%),
    700: hsla(338, 25%, 21%, 0.527),
    900: hsla(304, 34%, 74%, 0.801),
  ),
);
