.btn {
  /* General Button Styles */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  box-shadow: var(--b-shadow-2);
  font-weight: var(--fw-medium);
  text-transform: capitalize;

  cursor: pointer;

  /* Span Inside Button */
  & span {
    display: flex;
    padding: 0.1em;
    font-size: var(--fs-l);
  }

  /* Small Button Variant */
  &--sm {
    padding: 0.3em 1em;
    font-size: var(--fs);
    gap: 0.5rem;

    & span {
      font-size: var(--fl-ar);
    }
  }

  /* Button Variants */

  /* Variant 0 and Dialog Button */
  &--variant-0,
  &--variant-dialog {
    padding: 0.5em;
    background-color: var(--clr-neutral-700);
  }

  /* Variant 1 Button */
  &--variant-1 {
    background-color: var(--clr-primary-500);
  }

  /* Variant 0, 1, and Dialog Button */
  &--variant-0,
  &--variant-1,
  &--variant-dialog {
    border-radius: 50px;
    color: var(--clr-neutral-100);

    /* Hover and Active State */
    &:hover,
    &:active {
      background-color: var(--clr-neutral-100);
      color: var(--clr-primary-500);
    }
  }

  /* Dialog Button Specific */
  &--variant-dialog {
    padding: 0.2rem;
  }

  /* Variant 2 Button */
  &--variant-2 {
    background-color: var(--clr-primary-300);
    border-radius: 50px;
    color: var(--clr-neutral-900);

    /* Hover and Active State */
    &:hover,
    &:active {
      background-color: var(--clr-neutral-100);
    }
  }

  /* Variant 3 Button */
  &--variant-3 {
    background-color: transparent;
    box-shadow: none;
    border-radius: 50px;
    color: var(--clr-neutral-900);
    border-radius: 0;
    padding: 0.5em;

    /* Hover and Active State */
    &:hover,
    &:active {
      border-bottom: solid var(--clr-primary-500) 2px;
    }

    /* Selected State */
    &[data-selected="true"] {
      color: var(--clr-primary-500);
    }
  }

  /* Variant 4 Button */
  &--variant-4 {
    background-color: var(--clr-neutral-200);

    /* Hover State */
    &:hover {
      opacity: 0.5;
    }

    /* Active and Data-Active State */
    &:active,
    &[data-active="true"] {
      background-color: var(--clr-neutral-700);
      color: var(--clr-neutral-100);
    }
  }

  /* Filter Button */
  &--variant-filter {
    background-color: var(--clr-neutral-100);
    color: var(--clr-neutral-900);
    box-shadow: none;
    border: 1.2px solid var(--clr-neutral-200);
    border-radius: 5px;
    padding: 0.2rem 0.3rem;
  }

  /* Create and Submit Button */
  &--create,
  &--submit {
    background-color: var(--clr-primary-700);
    color: var(--clr-neutral-100);

    /* Hover State */
    &:hover {
      background-color: var(--clr-neutral-100);
      color: var(--clr-primary-700);
      box-shadow: var(--b-shadow-3);
    }
  }

  /* Naked Button */
  &--naked {
    color: var(--clr-primary-700);
    background-color: transparent;
    box-shadow: none !important;

    /* Hover State */
    &:hover {
      opacity: 0.8;
    }
  }

  /* mobile buttons*/

  &--mb {
    &--menu {
      background-color: transparent;
      box-shadow: none;
      border-radius: 50px;
      padding: 1rem;

      & span {
        font-size: var(--fs-xl);
      }

      &:hover {
        background-color: var(--clr-neutral-200);
      }
    }

    &--sh {
      border-radius: 50px;
      background-color: transparent;
      box-shadow: none;
      &[data-selected="true"] {
        background-color: var(--clr-primary-500);
        color: var(--clr-neutral-100);
      }
    }
  }
}
