.text {
  &--action {
    box-shadow: var(--b-shadow);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & input {
      height: 100%;
      border: none;
      box-shadow: none !important;
    }

    & button {
      &[data-display="false"] {
        display: none;
      }
    }
  }
}
